.footer {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem !important;
}
.footer .logo {
    color: var(--main-color);
}
.social {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.social a {
    font-size: 24px;
    color: var(--main-color);
    margin-right: 1rem;
}
.social a:hover {
    color: var(--second-color);
}
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.footer-box a {
    color: var(--main-color);
    margin-bottom: 10px;
}
.copyright {
    padding: 30px;
    color: var(--main-color);
    text-align: center;
}